body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1888px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:645px;
}
#u146 {
  position:absolute;
  left:-16px;
  top:-21px;
  width:1920px;
  height:645px;
}
#u147 {
  position:absolute;
  left:2px;
  top:314px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1811px;
  height:300px;
}
#u148 {
  position:absolute;
  left:0px;
  top:478px;
  width:1811px;
  height:300px;
}
#u149 {
  position:absolute;
  left:2px;
  top:142px;
  width:1807px;
  visibility:hidden;
  word-wrap:break-word;
}
#u150_div {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u150 {
  position:absolute;
  left:1170px;
  top:35px;
  width:299px;
  height:41px;
}
#u151 {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  word-wrap:break-word;
}
#u152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:124px;
}
#u152 {
  position:absolute;
  left:648px;
  top:130px;
  width:257px;
  height:124px;
}
#u153 {
  position:absolute;
  left:2px;
  top:54px;
  width:253px;
  visibility:hidden;
  word-wrap:break-word;
}
#u154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:812px;
  height:147px;
}
#u154 {
  position:absolute;
  left:425px;
  top:315px;
  width:812px;
  height:147px;
}
#u155 {
  position:absolute;
  left:2px;
  top:66px;
  width:808px;
  visibility:hidden;
  word-wrap:break-word;
}
#u156_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1632px;
  height:1309px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u156 {
  position:absolute;
  left:272px;
  top:745px;
  width:1632px;
  height:1309px;
}
#u157 {
  position:absolute;
  left:2px;
  top:646px;
  width:1628px;
  visibility:hidden;
  word-wrap:break-word;
}
#u158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:198px;
}
#u158 {
  position:absolute;
  left:307px;
  top:707px;
  width:372px;
  height:198px;
}
#u159 {
  position:absolute;
  left:2px;
  top:91px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:198px;
}
#u160 {
  position:absolute;
  left:679px;
  top:707px;
  width:402px;
  height:198px;
}
#u161 {
  position:absolute;
  left:2px;
  top:91px;
  width:398px;
  visibility:hidden;
  word-wrap:break-word;
}
#u162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:198px;
}
#u162 {
  position:absolute;
  left:1081px;
  top:707px;
  width:398px;
  height:198px;
}
#u163 {
  position:absolute;
  left:2px;
  top:91px;
  width:394px;
  visibility:hidden;
  word-wrap:break-word;
}
#u164_div {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:49px;
  background:inherit;
  background-color:rgba(0, 102, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u164 {
  position:absolute;
  left:1043px;
  top:24px;
  width:117px;
  height:49px;
  font-size:20px;
}
#u165 {
  position:absolute;
  left:2px;
  top:13px;
  width:113px;
  word-wrap:break-word;
}
#u166_div {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:290px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u166 {
  position:absolute;
  left:307px;
  top:905px;
  width:372px;
  height:290px;
  font-size:16px;
}
#u167 {
  position:absolute;
  left:2px;
  top:97px;
  width:368px;
  word-wrap:break-word;
}
#u168_div {
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:290px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u168 {
  position:absolute;
  left:669px;
  top:915px;
  width:402px;
  height:290px;
  font-size:16px;
}
#u169 {
  position:absolute;
  left:2px;
  top:106px;
  width:398px;
  word-wrap:break-word;
}
#u170_div {
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:290px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u170 {
  position:absolute;
  left:1081px;
  top:905px;
  width:398px;
  height:290px;
  font-size:16px;
}
#u171 {
  position:absolute;
  left:2px;
  top:116px;
  width:394px;
  word-wrap:break-word;
}
#u172_div {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u172 {
  position:absolute;
  left:392px;
  top:939px;
  width:203px;
  height:40px;
}
#u173 {
  position:absolute;
  left:2px;
  top:4px;
  width:199px;
  word-wrap:break-word;
}
#u174_div {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u174 {
  position:absolute;
  left:703px;
  top:939px;
  width:358px;
  height:40px;
}
#u175 {
  position:absolute;
  left:2px;
  top:4px;
  width:354px;
  word-wrap:break-word;
}
#u176_div {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u176 {
  position:absolute;
  left:1153px;
  top:939px;
  width:203px;
  height:40px;
}
#u177 {
  position:absolute;
  left:2px;
  top:4px;
  width:199px;
  word-wrap:break-word;
}
#u178_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u178 {
  position:absolute;
  left:392px;
  top:1137px;
  width:118px;
  height:30px;
  font-size:18px;
}
#u179 {
  position:absolute;
  left:2px;
  top:4px;
  width:114px;
  word-wrap:break-word;
}
#u180_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u180 {
  position:absolute;
  left:749px;
  top:1139px;
  width:119px;
  height:30px;
  font-size:18px;
}
#u181 {
  position:absolute;
  left:2px;
  top:4px;
  width:115px;
  word-wrap:break-word;
}
#u182_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:31px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u182 {
  position:absolute;
  left:1218px;
  top:1137px;
  width:112px;
  height:31px;
  font-size:18px;
}
#u183 {
  position:absolute;
  left:2px;
  top:4px;
  width:108px;
  word-wrap:break-word;
}
#u184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:27px;
}
#u184 {
  position:absolute;
  left:759px;
  top:1142px;
  width:25px;
  height:27px;
}
#u185 {
  position:absolute;
  left:2px;
  top:6px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u186_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:28px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u186 {
  position:absolute;
  left:892px;
  top:1139px;
  width:113px;
  height:28px;
  font-size:18px;
}
#u187 {
  position:absolute;
  left:2px;
  top:3px;
  width:109px;
  word-wrap:break-word;
}
#u188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:28px;
}
#u188 {
  position:absolute;
  left:911px;
  top:1139px;
  width:27px;
  height:28px;
}
#u189 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:20px;
}
#u190 {
  position:absolute;
  left:417px;
  top:1142px;
  width:24px;
  height:20px;
}
#u191 {
  position:absolute;
  left:2px;
  top:2px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u192_div {
  position:absolute;
  left:0px;
  top:0px;
  width:588px;
  height:114px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u192 {
  position:absolute;
  left:307px;
  top:1282px;
  width:588px;
  height:114px;
}
#u193 {
  position:absolute;
  left:2px;
  top:49px;
  width:584px;
  visibility:hidden;
  word-wrap:break-word;
}
#u194_div {
  position:absolute;
  left:0px;
  top:0px;
  width:584px;
  height:114px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u194 {
  position:absolute;
  left:895px;
  top:1282px;
  width:584px;
  height:114px;
}
#u195 {
  position:absolute;
  left:2px;
  top:49px;
  width:580px;
  visibility:hidden;
  word-wrap:break-word;
}
#u196_div {
  position:absolute;
  left:0px;
  top:0px;
  width:588px;
  height:114px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u196 {
  position:absolute;
  left:307px;
  top:1510px;
  width:588px;
  height:114px;
}
#u197 {
  position:absolute;
  left:2px;
  top:49px;
  width:584px;
  visibility:hidden;
  word-wrap:break-word;
}
#u198_div {
  position:absolute;
  left:0px;
  top:0px;
  width:588px;
  height:114px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u198 {
  position:absolute;
  left:307px;
  top:1396px;
  width:588px;
  height:114px;
}
#u199 {
  position:absolute;
  left:2px;
  top:49px;
  width:584px;
  visibility:hidden;
  word-wrap:break-word;
}
#u200_div {
  position:absolute;
  left:0px;
  top:0px;
  width:584px;
  height:114px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u200 {
  position:absolute;
  left:895px;
  top:1396px;
  width:584px;
  height:114px;
}
#u201 {
  position:absolute;
  left:2px;
  top:49px;
  width:580px;
  visibility:hidden;
  word-wrap:break-word;
}
#u202_div {
  position:absolute;
  left:0px;
  top:0px;
  width:584px;
  height:114px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u202 {
  position:absolute;
  left:895px;
  top:1510px;
  width:584px;
  height:114px;
}
#u203 {
  position:absolute;
  left:2px;
  top:49px;
  width:580px;
  visibility:hidden;
  word-wrap:break-word;
}
#u204_div {
  position:absolute;
  left:0px;
  top:0px;
  width:588px;
  height:114px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u204 {
  position:absolute;
  left:307px;
  top:1624px;
  width:588px;
  height:114px;
}
#u205 {
  position:absolute;
  left:2px;
  top:49px;
  width:584px;
  visibility:hidden;
  word-wrap:break-word;
}
#u206_div {
  position:absolute;
  left:0px;
  top:0px;
  width:584px;
  height:114px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u206 {
  position:absolute;
  left:895px;
  top:1624px;
  width:584px;
  height:114px;
}
#u207 {
  position:absolute;
  left:2px;
  top:49px;
  width:580px;
  visibility:hidden;
  word-wrap:break-word;
}
#u208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:59px;
}
#u208 {
  position:absolute;
  left:353px;
  top:1313px;
  width:49px;
  height:59px;
}
#u209 {
  position:absolute;
  left:2px;
  top:22px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:59px;
}
#u210 {
  position:absolute;
  left:353px;
  top:1427px;
  width:49px;
  height:59px;
}
#u211 {
  position:absolute;
  left:2px;
  top:22px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:27px;
}
#u212 {
  position:absolute;
  left:759px;
  top:1149px;
  width:1px;
  height:27px;
}
#u213 {
  position:absolute;
  left:2px;
  top:6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:59px;
}
#u214 {
  position:absolute;
  left:931px;
  top:1427px;
  width:55px;
  height:59px;
}
#u215 {
  position:absolute;
  left:2px;
  top:22px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:59px;
}
#u216 {
  position:absolute;
  left:347px;
  top:1555px;
  width:55px;
  height:59px;
}
#u217 {
  position:absolute;
  left:2px;
  top:22px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:59px;
}
#u218 {
  position:absolute;
  left:921px;
  top:1541px;
  width:55px;
  height:59px;
}
#u219 {
  position:absolute;
  left:2px;
  top:22px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:59px;
}
#u220 {
  position:absolute;
  left:931px;
  top:1327px;
  width:55px;
  height:59px;
}
#u221 {
  position:absolute;
  left:2px;
  top:22px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
}
#u222 {
  position:absolute;
  left:352px;
  top:1679px;
  width:50px;
  height:40px;
}
#u223 {
  position:absolute;
  left:2px;
  top:12px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
}
#u224 {
  position:absolute;
  left:926px;
  top:1679px;
  width:50px;
  height:40px;
}
#u225 {
  position:absolute;
  left:2px;
  top:12px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u226_div {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u226 {
  position:absolute;
  left:481px;
  top:1321px;
  width:229px;
  height:44px;
}
#u227 {
  position:absolute;
  left:2px;
  top:3px;
  width:225px;
  word-wrap:break-word;
}
#u228_div {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u228 {
  position:absolute;
  left:481px;
  top:1442px;
  width:229px;
  height:44px;
}
#u229 {
  position:absolute;
  left:2px;
  top:3px;
  width:225px;
  word-wrap:break-word;
}
#u230_div {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u230 {
  position:absolute;
  left:481px;
  top:1555px;
  width:229px;
  height:44px;
}
#u231 {
  position:absolute;
  left:2px;
  top:3px;
  width:225px;
  word-wrap:break-word;
}
#u232_div {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u232 {
  position:absolute;
  left:487px;
  top:1657px;
  width:273px;
  height:66px;
}
#u233 {
  position:absolute;
  left:2px;
  top:14px;
  width:269px;
  word-wrap:break-word;
}
#u234_div {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u234 {
  position:absolute;
  left:1073px;
  top:1327px;
  width:229px;
  height:44px;
}
#u235 {
  position:absolute;
  left:2px;
  top:3px;
  width:225px;
  word-wrap:break-word;
}
#u236_div {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u236 {
  position:absolute;
  left:1073px;
  top:1427px;
  width:244px;
  height:59px;
}
#u237 {
  position:absolute;
  left:2px;
  top:10px;
  width:240px;
  word-wrap:break-word;
}
#u238_div {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u238 {
  position:absolute;
  left:1073px;
  top:1536px;
  width:257px;
  height:62px;
}
#u239 {
  position:absolute;
  left:2px;
  top:12px;
  width:253px;
  word-wrap:break-word;
}
#u240_div {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u240 {
  position:absolute;
  left:1073px;
  top:1669px;
  width:257px;
  height:44px;
}
#u241 {
  position:absolute;
  left:2px;
  top:3px;
  width:253px;
  word-wrap:break-word;
}
#u242_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:31px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u242 {
  position:absolute;
  left:1361px;
  top:1334px;
  width:88px;
  height:31px;
  font-size:18px;
}
#u243 {
  position:absolute;
  left:2px;
  top:4px;
  width:84px;
  word-wrap:break-word;
}
#u244_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:31px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u244 {
  position:absolute;
  left:1361px;
  top:1441px;
  width:88px;
  height:31px;
  font-size:18px;
}
#u245 {
  position:absolute;
  left:2px;
  top:4px;
  width:84px;
  word-wrap:break-word;
}
#u246_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:31px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u246 {
  position:absolute;
  left:1361px;
  top:1552px;
  width:88px;
  height:31px;
  font-size:18px;
}
#u247 {
  position:absolute;
  left:2px;
  top:4px;
  width:84px;
  word-wrap:break-word;
}
#u248_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:31px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u248 {
  position:absolute;
  left:797px;
  top:1679px;
  width:88px;
  height:31px;
  font-size:18px;
}
#u249 {
  position:absolute;
  left:2px;
  top:4px;
  width:84px;
  word-wrap:break-word;
}
#u250_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:31px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u250 {
  position:absolute;
  left:1361px;
  top:1676px;
  width:88px;
  height:31px;
  font-size:18px;
}
#u251 {
  position:absolute;
  left:2px;
  top:4px;
  width:84px;
  word-wrap:break-word;
}
#u252_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:31px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u252 {
  position:absolute;
  left:797px;
  top:1441px;
  width:88px;
  height:31px;
  font-size:18px;
}
#u253 {
  position:absolute;
  left:2px;
  top:4px;
  width:84px;
  word-wrap:break-word;
}
#u254_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:31px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u254 {
  position:absolute;
  left:797px;
  top:1569px;
  width:88px;
  height:31px;
  font-size:18px;
}
#u255 {
  position:absolute;
  left:2px;
  top:4px;
  width:84px;
  word-wrap:break-word;
}
#u256_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:31px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u256 {
  position:absolute;
  left:797px;
  top:1327px;
  width:88px;
  height:31px;
  font-size:18px;
}
#u257 {
  position:absolute;
  left:2px;
  top:4px;
  width:84px;
  word-wrap:break-word;
}
#u258_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u258 {
  position:absolute;
  left:307px;
  top:1222px;
  width:140px;
  height:50px;
  font-size:18px;
}
#u259 {
  position:absolute;
  left:2px;
  top:14px;
  width:136px;
  word-wrap:break-word;
}
#u260_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:44px;
}
#u260 {
  position:absolute;
  left:142px;
  top:30px;
  width:93px;
  height:44px;
}
#u261 {
  position:absolute;
  left:2px;
  top:14px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u262_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u262 {
  position:absolute;
  left:287px;
  top:36px;
  width:72px;
  height:34px;
  font-size:28px;
}
#u263 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u264_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u264 {
  position:absolute;
  left:369px;
  top:36px;
  width:72px;
  height:34px;
  font-size:28px;
}
#u265 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u266_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u266 {
  position:absolute;
  left:451px;
  top:36px;
  width:72px;
  height:34px;
  font-size:28px;
}
#u267 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
