<!DOCTYPE html>
<html>
  <head>
    <title>jpzt</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/jpzt/styles.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-1.7.1.min.js"></script>
    <script src="resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="resources/scripts/axure/axQuery.js"></script>
    <script src="resources/scripts/axure/globals.js"></script>
    <script src="resources/scripts/axutils.js"></script>
    <script src="resources/scripts/axure/annotation.js"></script>
    <script src="resources/scripts/axure/axQuery.std.js"></script>
    <script src="resources/scripts/axure/doc.js"></script>
    <script src="data/document.js"></script>
    <script src="resources/scripts/messagecenter.js"></script>
    <script src="resources/scripts/axure/events.js"></script>
    <script src="resources/scripts/axure/recording.js"></script>
    <script src="resources/scripts/axure/action.js"></script>
    <script src="resources/scripts/axure/expr.js"></script>
    <script src="resources/scripts/axure/geometry.js"></script>
    <script src="resources/scripts/axure/flyout.js"></script>
    <script src="resources/scripts/axure/ie.js"></script>
    <script src="resources/scripts/axure/model.js"></script>
    <script src="resources/scripts/axure/repeater.js"></script>
    <script src="resources/scripts/axure/sto.js"></script>
    <script src="resources/scripts/axure/utils.temp.js"></script>
    <script src="resources/scripts/axure/variables.js"></script>
    <script src="resources/scripts/axure/drag.js"></script>
    <script src="resources/scripts/axure/move.js"></script>
    <script src="resources/scripts/axure/visibility.js"></script>
    <script src="resources/scripts/axure/style.js"></script>
    <script src="resources/scripts/axure/adaptive.js"></script>
    <script src="resources/scripts/axure/tree.js"></script>
    <script src="resources/scripts/axure/init.temp.js"></script>
    <script src="files/jpzt/data.js"></script>
    <script src="resources/scripts/axure/legacy.js"></script>
    <script src="resources/scripts/axure/viewer.js"></script>
    <script src="resources/scripts/axure/math.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- picture_1 (图像) -->
      <div id="u0" class="ax_default image" data-label="picture_1">
        <img id="u0_img" class="img " src="images/jpzt/picture_1_u0.png"/>
        <!-- Unnamed () -->
        <div id="u1" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- logo_1 (图像) -->
      <div id="u2" class="ax_default image" data-label="logo_1">
        <img id="u2_img" class="img " src="images/jpzt/logo_1_u2.png"/>
        <!-- Unnamed () -->
        <div id="u3" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- text_2 (矩形) -->
      <div id="u4" class="ax_default _文本" data-label="text_2">
        <div id="u4_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u5" class="text" style="visibility: visible;">
          <p><span>首页 </span></p>
        </div>
      </div>

      <!-- Button_1 (矩形) -->
      <div id="u6" class="ax_default button" data-label="Button_1">
        <div id="u6_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u7" class="text" style="visibility: visible;">
          <p><span>注册</span></p>
        </div>
      </div>

      <!-- text_1 (矩形) -->
      <div id="u8" class="ax_default _文本" data-label="text_1">
        <div id="u8_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u9" class="text" style="visibility: visible;">
          <p><span>QQ会员&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; QQ安全&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; 登录</span></p><p><span><br></span></p><p><span>当前在线人数： 261.740.047</span></p>
        </div>
      </div>

      <!-- rectangle_1 (矩形) -->
      <div id="u10" class="ax_default box_1" data-label="rectangle_1">
        <div id="u10_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u11" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- time_1 (矩形) -->
      <div id="u12" class="ax_default _文本" data-label="time_1">
        <div id="u12_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u13" class="text" style="visibility: visible;">
          <p><span>2017-12-01</span></p>
        </div>
      </div>

      <!-- title_1 (矩形) -->
      <div id="u14" class="ax_default _标题2" data-label="title_1">
        <div id="u14_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u15" class="text" style="visibility: visible;">
          <p><span>QQ跨界维密，AR会是年轻人的潮流新入口吗？</span></p>
        </div>
      </div>

      <!-- company_1 (矩形) -->
      <div id="u16" class="ax_default _文本" data-label="company_1">
        <div id="u16_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u17" class="text" style="visibility: visible;">
          <p><span>搜狐</span></p>
        </div>
      </div>

      <!-- text_01 (矩形) -->
      <div id="u18" class="ax_default _文本" data-label="text_01">
        <div id="u18_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u19" class="text" style="visibility: visible;">
          <p><span>&nbsp;&nbsp; &nbsp; &nbsp; QQ的跨界合作大多是年轻人喜闻乐见的时尚年轻品牌，对于年轻人来说非常有号召力，而长期反复的营销推广和品牌跨界，则是潜移默化地提升年轻群体的打开率——对于QQ来说，这是打开年轻人的一个新的入口。</span></p>
        </div>
      </div>

      <!-- rectangle_2 (矩形) -->
      <div id="u20" class="ax_default box_1" data-label="rectangle_2">
        <div id="u20_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u21" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- time_2 (矩形) -->
      <div id="u22" class="ax_default _文本" data-label="time_2">
        <div id="u22_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u23" class="text" style="visibility: visible;">
          <p><span>2017-11-01</span></p>
        </div>
      </div>

      <!-- title_2 (矩形) -->
      <div id="u24" class="ax_default _标题2" data-label="title_2">
        <div id="u24_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u25" class="text" style="visibility: visible;">
          <p><span>视频聊天连脸都能换？手机QQ最新版体验</span></p>
        </div>
      </div>

      <!-- company_2 (矩形) -->
      <div id="u26" class="ax_default _文本" data-label="company_2">
        <div id="u26_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u27" class="text" style="visibility: visible;">
          <p><span>凤凰网</span></p>
        </div>
      </div>

      <!-- text_02 (矩形) -->
      <div id="u28" class="ax_default _文本" data-label="text_02">
        <div id="u28_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u29" class="text" style="visibility: visible;">
          <p><span>&nbsp;&nbsp; &nbsp; &nbsp; 手机QQ在新版本给用户带来了拍照和视频的一系列新功能，例如视频换脸这类令人惊呼脑洞大开的功能！那它到底好玩吗？一起来看看。</span></p>
        </div>
      </div>

      <!-- rectangle_3 (矩形) -->
      <div id="u30" class="ax_default box_1" data-label="rectangle_3">
        <div id="u30_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u31" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- time_3 (矩形) -->
      <div id="u32" class="ax_default _文本" data-label="time_3">
        <div id="u32_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u33" class="text" style="visibility: visible;">
          <p><span>2017-10-27</span></p>
        </div>
      </div>

      <!-- title_3 (矩形) -->
      <div id="u34" class="ax_default _标题2" data-label="title_3">
        <div id="u34_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u35" class="text" style="visibility: visible;">
          <p><span>实测：手机QQ这个新功能，让我斗图再也找不到对手了！</span></p>
        </div>
      </div>

      <!-- company_3 (矩形) -->
      <div id="u36" class="ax_default _文本" data-label="company_3">
        <div id="u36_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u37" class="text" style="visibility: visible;">
          <p><span>爱范儿</span></p>
        </div>
      </div>

      <!-- text_03 (矩形) -->
      <div id="u38" class="ax_default _文本" data-label="text_03">
        <div id="u38_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u39" class="text" style="visibility: visible;">
          <p><span>&nbsp;&nbsp; &nbsp; &nbsp; QQ 群开启了斗图模式，平常保存的表情包都发完了，不能快速找到应战的表情包，你甘心就这样败下阵来？莫慌，手机 QQ 有个功能，可以治好尬聊症哦！</span></p>
        </div>
      </div>

      <!-- rectangle_4 (矩形) -->
      <div id="u40" class="ax_default box_1" data-label="rectangle_4">
        <div id="u40_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u41" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- time_4 (矩形) -->
      <div id="u42" class="ax_default _文本" data-label="time_4">
        <div id="u42_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u43" class="text" style="visibility: visible;">
          <p><span>2017-08-16</span></p>
        </div>
      </div>

      <!-- title_4 (矩形) -->
      <div id="u44" class="ax_default _标题2" data-label="title_4">
        <div id="u44_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u45" class="text" style="visibility: visible;">
          <p><span>手机QQ V7.1.8的一项小优化，揭示“文字习得”进化史</span></p>
        </div>
      </div>

      <!-- company_4 (矩形) -->
      <div id="u46" class="ax_default _文本" data-label="company_4">
        <div id="u46_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u47" class="text" style="visibility: visible;">
          <p><span>DONEWS</span></p>
        </div>
      </div>

      <!-- text_04 (矩形) -->
      <div id="u48" class="ax_default _文本" data-label="text_04">
        <div id="u48_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u49" class="text" style="visibility: visible;">
          <p><span>&nbsp;&nbsp; &nbsp; &nbsp; 手机QQ提供了一种很快速且很精准的解决办法——图中文字提取功能。这是腾讯优图实验室提供的OCR文字识别技术，无论你在哪里看到的文字，拍张照片，手机QQ就能把它们瞬间转化为可复制、编辑的文字，还能进行中英文互译。</span></p>
        </div>
      </div>

      <!-- rectangle_5 (矩形) -->
      <div id="u50" class="ax_default box_1" data-label="rectangle_5">
        <div id="u50_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u51" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- time_5 (矩形) -->
      <div id="u52" class="ax_default _文本" data-label="time_5">
        <div id="u52_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u53" class="text" style="visibility: visible;">
          <p><span>2017-07-24</span></p>
        </div>
      </div>

      <!-- title_5 (矩形) -->
      <div id="u54" class="ax_default _标题2" data-label="title_5">
        <div id="u54_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u55" class="text" style="visibility: visible;">
          <p><span>手机QQ V7.1.5正式上线，打造你的个性标签墙</span></p>
        </div>
      </div>

      <!-- company_5 (矩形) -->
      <div id="u56" class="ax_default _文本" data-label="company_5">
        <div id="u56_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u57" class="text" style="visibility: visible;">
          <p><span>站长之家</span></p>
        </div>
      </div>

      <!-- text_05 (矩形) -->
      <div id="u58" class="ax_default _文本" data-label="text_05">
        <div id="u58_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u59" class="text" style="visibility: visible;">
          <p><span>&nbsp;&nbsp; &nbsp; &nbsp; 7月19日，手机QQ V7.1.5 正式上线，针对个性化及支付做了更新优化。新版手机QQ新增个性标签，用户可为标签添加图片，打造专属的个性标签墙；支付方面，新版本首次支持好友代付，给用户带来更便捷的支付体验。</span></p>
        </div>
      </div>

      <!-- rectangle_6 (矩形) -->
      <div id="u60" class="ax_default box_1" data-label="rectangle_6">
        <div id="u60_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u61" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- time_6 (矩形) -->
      <div id="u62" class="ax_default _文本" data-label="time_6">
        <div id="u62_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u63" class="text" style="visibility: visible;">
          <p><span>2017-07-19</span></p>
        </div>
      </div>

      <!-- title_6 (矩形) -->
      <div id="u64" class="ax_default _标题2" data-label="title_6">
        <div id="u64_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u65" class="text" style="visibility: visible;">
          <p><span>所有不相信二次元的人，都应当去一次QQJOY</span></p>
        </div>
      </div>

      <!-- company_6 (矩形) -->
      <div id="u66" class="ax_default _文本" data-label="company_6">
        <div id="u66_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u67" class="text" style="visibility: visible;">
          <p><span>和讯网</span></p>
        </div>
      </div>

      <!-- text_06 (矩形) -->
      <div id="u68" class="ax_default _文本" data-label="text_06">
        <div id="u68_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u69" class="text" style="visibility: visible;">
          <p><span>&nbsp;&nbsp; &nbsp; &nbsp; QQ正在享受搭建舞台的优势，它终于不再畏惧被诟病为低幼化的平台，恰恰相反，只有取悦了年轻人的产品，才有能力去为年轻人的未来背书。</span></p>
        </div>
      </div>

      <!-- rectangle_7 (矩形) -->
      <div id="u70" class="ax_default box_1" data-label="rectangle_7">
        <div id="u70_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u71" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- time_7 (矩形) -->
      <div id="u72" class="ax_default _文本" data-label="time_7">
        <div id="u72_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u73" class="text" style="visibility: visible;">
          <p><span>2017-06-21</span></p>
        </div>
      </div>

      <!-- title_7 (矩形) -->
      <div id="u74" class="ax_default _标题2" data-label="title_7">
        <div id="u74_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u75" class="text" style="visibility: visible;">
          <p><span>腾讯QQ全城助力科技公益项目摘戛纳创意节中国首金</span></p>
        </div>
      </div>

      <!-- company_7 (矩形) -->
      <div id="u76" class="ax_default _文本" data-label="company_7">
        <div id="u76_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u77" class="text" style="visibility: visible;">
          <p><span>腾讯网</span></p>
        </div>
      </div>

      <!-- text_07 (矩形) -->
      <div id="u78" class="ax_default _文本" data-label="text_07">
        <div id="u78_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u79" class="text" style="visibility: visible;">
          <p><span>&nbsp;&nbsp; &nbsp; &nbsp; 来自腾讯的科技公益项目QQ全城助力“人脸寻亲”，在2017戛纳国际创意节“Cyber Lions”竞赛单元摘得“Use of Social Data &amp; Insight”金狮奖。该项目同时还斩获“Mobile Lions”竞赛单元铜狮奖，腾讯成为本届戛纳国际创意节首个夺得一金一铜两项大奖...</span></p>
        </div>
      </div>

      <!-- rectangle_8 (矩形) -->
      <div id="u80" class="ax_default box_1" data-label="rectangle_8">
        <div id="u80_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u81" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- time_8 (矩形) -->
      <div id="u82" class="ax_default _文本" data-label="time_8">
        <div id="u82_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u83" class="text" style="visibility: visible;">
          <p><span>2016-12-12</span></p>
        </div>
      </div>

      <!-- title_8 (矩形) -->
      <div id="u84" class="ax_default _标题2" data-label="title_8">
        <div id="u84_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u85" class="text" style="visibility: visible;">
          <p><span>短视频双人动态挂件上线，手机QQ V6.6.1欢乐也成双</span></p>
        </div>
      </div>

      <!-- company_8 (矩形) -->
      <div id="u86" class="ax_default _文本" data-label="company_8">
        <div id="u86_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u87" class="text" style="visibility: visible;">
          <p><span>站长之家</span></p>
        </div>
      </div>

      <!-- text_08 (矩形) -->
      <div id="u88" class="ax_default _文本" data-label="text_08">
        <div id="u88_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u89" class="text" style="visibility: visible;">
          <p><span>&nbsp;&nbsp; &nbsp; &nbsp; 手机QQ一直在用户的娱乐化体验上不断发力。在版本V6.6.1中更是基于短视频自动识别双人人脸的技术，增添了更多双人动态挂件。支持“樱桃小丸子”“黑人爆炸头”等数十种不同风格的实时动态挂件，随挂件还配有不同的配音，更添加几分趣味。</span></p>
        </div>
      </div>

      <!-- rectangle_9 (矩形) -->
      <div id="u90" class="ax_default box_1" data-label="rectangle_9">
        <div id="u90_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u91" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- time_9 (矩形) -->
      <div id="u92" class="ax_default _文本" data-label="time_9">
        <div id="u92_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u93" class="text" style="visibility: visible;">
          <p><span>2016-11-25</span></p>
        </div>
      </div>

      <!-- title_9 (矩形) -->
      <div id="u94" class="ax_default _标题2" data-label="title_9">
        <div id="u94_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u95" class="text" style="visibility: visible;">
          <p><span>互联网时代聊天短视频录制为何只有7秒？</span></p>
        </div>
      </div>

      <!-- company_9 (矩形) -->
      <div id="u96" class="ax_default _文本" data-label="company_9">
        <div id="u96_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u97" class="text" style="visibility: visible;">
          <p><span>IT之家</span></p>
        </div>
      </div>

      <!-- text_09 (矩形) -->
      <div id="u98" class="ax_default _文本" data-label="text_09">
        <div id="u98_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u99" class="text" style="visibility: visible;">
          <p><span>&nbsp;&nbsp; &nbsp; &nbsp; 互联网碎片化的痕迹越来越重，短视频也因此变得火热起来。纵观市场上的短视频应用，发现一个非常有趣的现象，常用的短视频录制时长都在7秒钟左右：微信小视频6秒，秒拍则是10秒，手机QQ短视频也将其录制长度由之前的8秒变为7秒，难道这是...</span></p>
        </div>
      </div>

      <!-- rectangle_10 (矩形) -->
      <div id="u100" class="ax_default box_1" data-label="rectangle_10">
        <div id="u100_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u101" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- time_10 (矩形) -->
      <div id="u102" class="ax_default _文本" data-label="time_10">
        <div id="u102_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u103" class="text" style="visibility: visible;">
          <p><span>2016-11-25</span></p>
        </div>
      </div>

      <!-- title_10 (矩形) -->
      <div id="u104" class="ax_default _标题2" data-label="title_10">
        <div id="u104_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u105" class="text" style="visibility: visible;">
          <p><span>QQ全城助力斩获ONE SHOW中华创意奖两项大奖！</span></p>
        </div>
      </div>

      <!-- company_10 (矩形) -->
      <div id="u106" class="ax_default _文本" data-label="company_10">
        <div id="u106_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u107" class="text" style="visibility: visible;">
          <p><span>IT之家</span></p>
        </div>
      </div>

      <!-- text_10 (矩形) -->
      <div id="u108" class="ax_default _文本" data-label="text_10">
        <div id="u108_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u109" class="text" style="visibility: visible;">
          <p><span>&nbsp;&nbsp; &nbsp; 重磅捷讯！在艾菲奖上斩获多项营销传播大奖的腾讯QQ ，凭借 “QQ全城助力”这一全民公益项目，在 2016 ONE SHOW中华创意奖颁奖典礼的舞台上又获两枚大奖： “产品与服务创新－线上平台与服务创新”以及 “社会化媒体－社会化媒体数据应用”两项...</span></p>
        </div>
      </div>

      <!-- rectang_under (矩形) -->
      <div id="u110" class="ax_default box_1" data-label="rectang_under">
        <div id="u110_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u111" class="text" style="display: none; visibility: hidden">
          <p><span style="text-decoration:underline;"></span></p>
        </div>
      </div>

      <!-- text_under_1 (矩形) -->
      <div id="u112" class="ax_default _文本" data-label="text_under_1">
        <div id="u112_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u113" class="text" style="visibility: visible;">
          <p><span>了解热门产品</span></p>
        </div>
      </div>

      <!-- text_under_00 (矩形) -->
      <div id="u114" class="ax_default _文本" data-label="text_under_00">
        <div id="u114_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u115" class="text" style="visibility: visible;">
          <p><span>QQ安全</span></p>
        </div>
      </div>

      <!-- text_under_01 (矩形) -->
      <div id="u116" class="ax_default _文本" data-label="text_under_01">
        <div id="u116_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u117" class="text" style="visibility: visible;">
          <p><span>安全中心</span></p><p><span><br></span></p><p><span>冻结账号</span></p><p><span><br></span></p><p><span>举报恶意行为</span></p><p><span><br></span></p><p><span>恢复好友群</span></p>
        </div>
      </div>

      <!-- text_under_02 (矩形) -->
      <div id="u118" class="ax_default _文本" data-label="text_under_02">
        <div id="u118_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u119" class="text" style="visibility: visible;">
          <p><span>帮助反馈</span></p>
        </div>
      </div>

      <!-- text_under_20 (矩形) -->
      <div id="u120" class="ax_default _文本" data-label="text_under_20">
        <div id="u120_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u121" class="text" style="visibility: visible;">
          <p><span>腾讯客服</span></p><p><span><br></span></p><p><span>反馈问题</span></p><p><span><br></span></p><p><span>腾讯微博</span></p><p><span><br></span></p><p><span>新浪微博</span></p><p><span><br></span></p><p><span><br></span></p>
        </div>
      </div>

      <!-- text_under_03 (矩形) -->
      <div id="u122" class="ax_default _文本" data-label="text_under_03">
        <div id="u122_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u123" class="text" style="visibility: visible;">
          <p><span>友情连接</span></p>
        </div>
      </div>

      <!-- text_under_30 (矩形) -->
      <div id="u124" class="ax_default _文本" data-label="text_under_30">
        <div id="u124_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u125" class="text" style="visibility: visible;">
          <p><span>兴趣部落</span></p><p><span><br></span></p><p><span>QQ群</span></p><p><span><br></span></p><p><span>QQ音乐</span></p><p><span><br></span></p><p><span>QQ浏览器</span></p><p><span><br></span></p><p><span>来电</span></p>
        </div>
      </div>

      <!-- iphone (形状) -->
      <div id="u126" class="ax_default icon" data-label="iphone">
        <img id="u126_img" class="img " src="images/jpzt/iphone_u126.png"/>
        <!-- Unnamed () -->
        <div id="u127" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- ipad (形状) -->
      <div id="u128" class="ax_default icon" data-label="ipad">
        <img id="u128_img" class="img " src="images/jpzt/ipad_u128.png"/>
        <!-- Unnamed () -->
        <div id="u129" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- windows (形状) -->
      <div id="u130" class="ax_default icon" data-label="windows">
        <img id="u130_img" class="img " src="images/jpzt/windows_u130.png"/>
        <!-- Unnamed () -->
        <div id="u131" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- apple (形状) -->
      <div id="u132" class="ax_default icon" data-label="apple">
        <img id="u132_img" class="img " src="images/jpzt/apple_u132.png"/>
        <!-- Unnamed () -->
        <div id="u133" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- text_iphone (矩形) -->
      <div id="u134" class="ax_default _文本" data-label="text_iphone">
        <div id="u134_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u135" class="text" style="visibility: visible;">
          <p><span>QQ 手机版</span></p>
        </div>
      </div>

      <!-- text_windows (矩形) -->
      <div id="u136" class="ax_default _文本" data-label="text_windows">
        <div id="u136_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u137" class="text" style="visibility: visible;">
          <p><span>QQ PC版</span></p>
        </div>
      </div>

      <!-- text_apple (矩形) -->
      <div id="u138" class="ax_default _文本" data-label="text_apple">
        <div id="u138_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u139" class="text" style="visibility: visible;">
          <p><span>QQ Mac版</span></p>
        </div>
      </div>

      <!-- text_ipad (矩形) -->
      <div id="u140" class="ax_default _文本" data-label="text_ipad">
        <div id="u140_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u141" class="text" style="visibility: visible;">
          <p><span>QQ Pad版</span></p>
        </div>
      </div>

      <!-- text_2 (矩形) -->
      <div id="u142" class="ax_default _文本" data-label="text_2">
        <div id="u142_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u143" class="text" style="visibility: visible;">
          <p><span>下载 </span></p>
        </div>
      </div>

      <!-- text_2 (矩形) -->
      <div id="u144" class="ax_default _文本" data-label="text_2">
        <div id="u144_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u145" class="text" style="visibility: visible;">
          <p><span>动态</span></p><p><span><br></span></p>
        </div>
      </div>
    </div>
  </body>
</html>
